body {
    background-color: black;
    display: grid;
    justify-content: center;
    font-family: 'Arial';
}

div {   
    background-color: white; 
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

h1 {
    color: red;
    text-align: center;
}

input { 
    font-size: 15px;
    margin: 0 auto;
    display: block;
}

button {
    background-color: red;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    padding: 15px;
    border-radius: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    color: black;
    font-size: 15px;
    text-align: center;
}
